body {
  font-family: 'Amiri', serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url(/fdsw-github/assets/img/foto.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
header {
  height: 500px;
}

.color1 { 
  background-color: rgba(226, 83, 138, 0.5)

}
